<div class="container" role="main">
	<div class="row">
		<div class="col-sm-12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p class="lead"><h1 class="text-center">Movimento de Caixa</h1></p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col span1">Data</th>
                  <th scope="col">Descriminação</th>
                  <th scope="col">Entradas</th>
                  <th scope="col">Saídas</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
		        <colgroup>
			        <col class="col-md-2">
			        <col class="col-md-5">
			        <col class="col-md-2">
			        <col class="col-md-2">
			        <col class="col-md-1">
			    </colgroup>
              <tbody style="height: 100px !important; overflow: scroll; ">
                <tr>
                  <td scope="row">02/05/2019 16:00</td>
                  <td>Compra no caixa</td>
                  <td>R$ 50,00</td>
                  <td></td>
                  <td><button type="button" class="btn btn-danger btn-xs">Remover</button></td>
                </tr>
                <tr>
                  <td scope="row">02/05/2019 16:00</td>
                  <td>Compra de gelo</td>
                  <td></td>
                  <td>R$ 15,00</td>
                  <td><button type="button" class="btn btn-danger btn-xs">Remover</button></td>
                </tr>
                <tr>
                  <td scope="row">02/05/2019 16:00</td>
                  <td>Compra no caixa</td>
                  <td>R$ 50,00</td>
                  <td></td>
                  <td><button type="button" class="btn btn-danger btn-xs">Remover</button></td>
                </tr>
              </tbody>
            </table>
            <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
			  <button type="button" class="btn btn-primary btn-sm">Adicionar Movimento</button>
			</div>
		</div>
	</div>
</div>